<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <title>Sharp News track</title>
</head>
 <body id="bgmy">
       <nav class="nav nav-pills baby fixed-top">
    <ul class="nav nav-pills" id="lup">
        <li class="nav-item cdr">
            <a class="nav-link active hover cdr" aria-current="page" href="#">Login Page</a>
        </li>
        <li class="nav-item dropdown cdr">
            <a class="nav-link dropdown-toggle cdr " data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Services</a>
            <ul class="dropdown-menu">


                <li><a class="dark dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/review/">Review & Comment</a></li>
                <li><a class="dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/news/" >More News</a></li>
                   <li>
                    <hr class="dropdown-divider">
                    </li>
                     <li class="dropdown-item">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}" class="dropdown-item">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}" class="dropdown-item">Log in</a></li>
        {% endif %}
        </li>
            </ul>
        </li>
        <li class="nav-item cdr">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}" class="nav-link cdr">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}" class="nav-link cdr">Log in</a></li>
        {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
        </li>
    </ul>
    </nav>

     <div class="container lead wdh">
     <figure class="text-center">
  <blockquote class="blockquote container">
    <p>If you were born with the ability to change someone’s perspective or emotions, never waste that gift. It is one of the most powerful gifts God can give—the ability to influence.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
      Shannon L. Alder
  </figcaption>
</figure>
    </div>

        <div class="container">

            <div class="row">
                {% if error %}
    <div class="alert alert-warning" role="alert">
        Incorrect username or password
    </div>
{% endif %}
                <form action="." method="POST">
                  <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" name="username" placeholder="Enter your username">
                  </div>
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                  </div>
                  <button type="submit" class="btn btn-success text-center mnt">Log in</button>
                </form>
            </div>

        </div>

        <figure class="text-center lead cdr">
    <p>Switch To different webpage.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary"> <a class="dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/news/" >More News</a></button>
        <button type="button" class="btn btn-primary"><a class="dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/review/" >Review & Comment</a></button>
        <button type="button" class="btn btn-primary"><a class="dark dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/">Home</a></button>

    </div>
</figure>
  <script src="/js/bootstrap.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
  <script src="/js/bootstrap.bundle.js" ></script>
    </body>
</html>
