<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </style>
    <link rel="stylesheet" href="https://www.pythonanywhere.com/user/SHASWATANAND/files/home/SHASWATANAND/mysite/templates/css/bootstrap.css">
    </style>
      <title>Document</title>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
    <form action="." method="POST">
                <textarea name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" value="Post comment">
            </form>
    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>
<script src="https://www.pythonanywhere.com/user/SHASWATANAND/files/home/SHASWATANAND/mysite/templates/js/jquery.js"></script>
<script src="https://www.pythonanywhere.com/user/SHASWATANAND/files/home/SHASWATANAND/mysite/templates/js/bootstrap.js"></script>
</body>
</html>



