<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/css/bootstrap.css" rel="stylesheet">
    <title>Sharp News track</title>
</head>

<body id="bgmy">
    <nav class="nav nav-pills baby fixed-top">
    <ul class="nav nav-pills" id="lup">
        <li class="nav-item cdr">
            <a class="nav-link active hover cdr" aria-current="page" href="#">More News</a>
        </li>
        <li class="nav-item dropdown cdr">
            <a class="nav-link dropdown-toggle cdr " data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Services</a>
            <ul class="dropdown-menu">


                <li><a class="dark dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/review/">Review & Comment</a></li>
                <li><a class="dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/news/" >More News</a></li>
                   <li>
                    <hr class="dropdown-divider">
                    </li>
                     <li class="dropdown-item">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}" class="dropdown-item">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}" class="dropdown-item">Log in</a></li>
        {% endif %}
        </li>
            </ul>
        </li>
        <li class="nav-item cdr">
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}" class="nav-link cdr">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}" class="nav-link cdr">Log in</a></li>
        {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
        </li>
    </ul>
    </nav>

     <div class="container text-center lead wdh">
     <figure class="text-center">
  <blockquote class="blockquote container">
    <p>If you were born with the ability to change someone’s perspective or emotions, never waste that gift. It is one of the most powerful gifts God can give—the ability to influence.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
      Shannon L. Alder
  </figcaption>
</figure>
    </div>

<figure class="text-center lead cdr">
    <p>This page has news from all the domains and servers.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary"> <a class="dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/news/" >More News</a></button>
        <button type="button" class="btn btn-primary"><a class="dark dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com">Home</a></button>
        <button type="button" class="btn btn-primary"><a class="dark dropdown-item" aria-current="page" href="https://shaswatanand.pythonanywhere.com/review/">Review & Comment</a></button>
        </div>
</figure>
  <div class="container overflow-hidden rounded">
        <div class="row gy-5">
    <div class="col container">
<!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://www.indiatoday.in/rss/1206578";
rssfeed_frame_width="400";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#99cc00";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="80";
rssfeed_item_title_color="#000";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="150";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "98a1de4090f786bd97eb4cd8880e9530";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
</div>

<div class="col container"><!-- start sw-rss-feed code -->
<!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://indianexpress.com/feed/";
rssfeed_frame_width="400";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="50";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="120";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "438a43134ae4cf81b5b93cb6d193fbf6";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>

        </div>
    </div>
</div>






<div class="container overflow-hidden rounded">
        <div class="row gy-5">
    <div class="col container">
<!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://www.deccanchronicle.com/rss_feed/";
rssfeed_frame_width="400";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="https://feed.surfing-waves.com/css/style5.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="80";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="150";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "56053096815b6bc67ee49015bffac664";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
</div>

<div class="col container"><!-- start sw-rss-feed code -->
<!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://www.nytimes.com/svc/collections/v1/publish/https://www.nytimes.com/section/world/rss.xml";
rssfeed_frame_width="400";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="https://feed.surfing-waves.com/css/style5.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="on";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="80";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="150";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="off";
rssfeed_no_items="0";
rssfeed_cache = "4c11ed087141dd557d546c71981bacf5";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
        </div>
    </div>
</div>







    <div class="container overflow-hidden rounded">
        <div class="row gy-5">
    <div class="col container">
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="http://feeds.bbci.co.uk/news/world/rss.xml";
rssfeed_frame_width="400";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="https://feed.surfing-waves.com/css/style2a.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="50";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="off";
rssfeed_item_description="on";
rssfeed_item_description_length="120";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="on";
rssfeed_no_items="0";
rssfeed_cache = "19060b7017a10effb0b913b49b214058";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
</div>

<div class="col container"><!-- start sw-rss-feed code -->
<script type="text/javascript">
<!--
rssfeed_url = new Array();
rssfeed_url[0]="https://www.thehindu.com/feeder/default.rss";
rssfeed_frame_width="400";
rssfeed_frame_height="450";
rssfeed_scroll="on";
rssfeed_scroll_step="6";
rssfeed_scroll_bar="off";
rssfeed_target="_blank";
rssfeed_font_size="12";
rssfeed_font_face="";
rssfeed_border="on";
rssfeed_css_url="https://feed.surfing-waves.com/css/style2a.css";
rssfeed_title="on";
rssfeed_title_name="";
rssfeed_title_bgcolor="#3366ff";
rssfeed_title_color="#fff";
rssfeed_title_bgimage="";
rssfeed_footer="off";
rssfeed_footer_name="rss feed";
rssfeed_footer_bgcolor="#fff";
rssfeed_footer_color="#333";
rssfeed_footer_bgimage="";
rssfeed_item_title_length="50";
rssfeed_item_title_color="#666";
rssfeed_item_bgcolor="#fff";
rssfeed_item_bgimage="";
rssfeed_item_border_bottom="on";
rssfeed_item_source_icon="off";
rssfeed_item_date="on";
rssfeed_item_description="on";
rssfeed_item_description_length="150";
rssfeed_item_description_color="#666";
rssfeed_item_description_link_color="#333";
rssfeed_item_description_tag="on";
rssfeed_no_items="0";
rssfeed_cache = "b76ab19531250e4d6700692efd967ee9";
//-->
</script>
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
        </div>
    </div>
</div>




   <figure class="text-center whdpp">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Back to Top
                </a>
            </div>
        </div>
</figure>
 <div class="bg-light text-center text-secondary">
        &copy; &nbsp;&nbsp;Shaswat Anand
      </div>
    <script src="/js/bootstrap.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
  <script src="/js/bootstrap.bundle.js" ></script>
</body>

</html>